<div ui-content-for="title">
    <span>Lotes Usuario</span>
</div>

<div class="scrollable">
    <div class="scrollable-content section text-center">

        <div class="col-md-3" style="margin-bottom: 2%;">
            <input class="form-control" placeholder="Búsqueda.." ng-model="busqueda" />
        </div>

        <div class="col-md-3" style="margin-bottom: 2%;" ng-if="cambioSeleccion == undefined">
            <select class="form-control" ng-model="filtroInforme" ng-options="opt as opt for opt in listaInformes">
        <option value="" >Seleccione Informe..</option>
      </select>
        </div>



        <div class="col-md-3" style="margin-bottom: 2%;" ng-if="cambioSeleccion == true || cambioSeleccion == false">
            <select class="form-control" ng-model="filtroBodega" ng-options="opt as opt for opt in listaBodegas">
        <option value="" >Seleccione Bodega..</option>
      </select>
        </div>


        <div class="col-md-3" style="margin-bottom: 2%;">
            <select class="form-control" ng-model="filtroEtapa" ng-change="listarTodos(filtroEtapa)">
        <option value="1" selected="true">Seleccione Etapa</option>
        <option value="2">Aceptadas</option>
        <option value="3">Rechazadas</option>
      </select>
        </div>

        <div class="col-md-3" style="margin-bottom: 2%;" ng-if="cambioSeleccion == true || cambioSeleccion == false">
            <button class="btn btn-primary" ui-turn-on="modalAsignacion">Solicitud Despacho</button>
        </div>
        <div class="scrollable-content section" ui-scroll-bottom="loadMore()">

            <div class="envoltorio col-md-12">
              <div class="container col-md-12" style="margin-bottom: 1%;">
                <div class="table-condensed" style="margin-top: 1%;">
                    <table class="table table-bordered">
                        <thead style="background: #ffcc33; width: 80%;">
                            <th>N° Informe</th>
                            <th>N° Sacos</th>
                            <th>Kilos</th>
                            <th>Bodega</th>
                            <th>Contenedor</th>
                            <th>Lote</th>
                            <th>Materia Prima</th>
                            <th>Proveedor</th>
                            <th>Origen</th>
                            <th ng-show="muestras">Inocuidad</th>
                            <th ng-show="muestras">Calidad</th>
                            <th>Observación</th>
                            <th>Acción</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in listaLotesUsuario |filter: {bodega: {nombreBodega: filtroBodega}} | filter : {nroInforme: filtroInforme} " ng-if="item.despacho == cambioSeleccion">
                                <td><label class="puntero" style="color: #4888d8;" ng-click="mostrarPdf(item.certificado)">{{item.nroInforme}}</label></td>
                                <td>{{item.bultos}}</td>
                                <td>{{item.cantidad}}</td>
                                <td>{{item.bodega.nombreBodega}}</td>
                                <td>{{item.contenedor}}</td>
                                <td>{{item.lote}}</td>
                                <td>{{item.materiaPrima.nombreMateriaPrima}}</td>
                                <td>{{item.trader.nombreTrader}}</td>
                                <td>{{item.paisTrader.nombrePais}}</td>
                                <td ng-show="muestras">
                                    <button class="btn btn-success" ng-if="item.inocuidad == true"><i class="fa fa-check"></i></button>
                                    <button class="btn btn-danger" ng-if="item.inocuidad == false"><i class="fa fa-ban"></i></button>
                                </td>
                                <td ng-show="muestras">
                                    <button class="btn btn-success" ng-if="item.calidad == true"><i class="fa fa-check"></i></button>
                                    <button class="btn btn-danger" ng-if="item.calidad == false"><i class="fa fa-ban"></i></button>
                                </td>
                                <td ng-if="item.inocuidad == undefined">
                                    <label>Inocuidad</label>
                                    <button class="btn btn-success" ng-click="apruebaInocuidad(listaLotesUsuario, $index)"><i class="fa fa-check"></i></button>
                                    <button class="btn btn-danger" ng-click="desapruebaInocuidad(listaLotesUsuario, $index)"><i class="fa fa-remove"></i></button>
                                </td>
                                <td ng-if="item.calidad == undefined && item.inocuidad != undefined">
                                    <label>Calidad</label>
                                    <button class="btn btn-success" ng-click="apruebaCalidad(listaLotesUsuario, $index)"><i class="fa fa-check"></i></button>
                                    <button class="btn btn-danger" ng-click="desapruebaCalidad(listaLotesUsuario, $index)"><i class="fa fa-remove"></i></button>
                                </td>
                                <td ng-if="item.calidad != undefined && item.inocuidad != undefined && item.despacho == undefined">
                                    <label>Despacho</label>
                                    <button class="btn btn-success" ng-click="apruebaDespacho(listaLotesUsuario, $index)"><i class="fa fa-truck"></i></button>
                                    <button class="btn btn-danger" ng-click="desapruebaDespacho(listaLotesUsuario, $index)"><i class="fa fa-remove"></i></button>
                                </td>
                                <td ng-if="item.observaciones == true">
                                    <center><button class="btn btn-danger" ui-turn-on="modalObservacion" ng-click="enviarObservacionModal(item.id_solicitud, item.id_lote)" uib-popover="Observacion" popover-trigger="mouseenter"><i class="fa fa-comment"></i></button></center>
                                </td>
                                <td ng-if="item.observaciones == undefined">
                                    <center><button class="btn btn-warning" ui-turn-on="modalObservacion" ng-click="enviarObservacionModal(item.id_solicitud, item.id_lote)" uib-popover="Observacion" popover-trigger="mouseenter"><i class="fa fa-comment"></i></button></center>
                                </td>
                                <td ng-if="item.validaCheck == true">
                                    Despacho
                                </td>
                                <td ng-if="item.calidad != undefined && item.inocuidad != undefined && item.despacho != undefined && item.validaCheck != true">
                                    <input class="form-control" type="checkbox" ng-model="item.check">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
          </div>
        </div>

        <div id="pdfVer" ng-show="false">
          <embed ng-src="{{content}}" style="width:100%;height:100%;">
        </div>

        <div ui-content-for="modals">
            <div ng-include="'solicitud/lotesUsuario/modalSolicitudDespacho.html'"></div>
            <div ng-include="'solicitud/lotesUsuario/modalObservacion.html'"></div>
        </div>
    </div>
</div>
