<div class="scrollable modal col-lg-6 center-block" ui-if='crearUsuarioModal' ui-state='crearUsuarioModal'>
  <div class="modal-backdrop in"></div>
  <div class="scrollable-content modal-dialog">
    <div class="modal-content">
      <div class="container col-xs-12" style="margin-bottom: 5%;">
        <div class="modal-header">
          <button class="close" ui-turn-off="crearUsuarioModal">&times;</button>
          <h4>Crear Usuario</h4>
        </div>

        <label>Usuario:</label>
        <input class="form-control" placeholder="Ingrese usuario" ng-model="username" ng-blur="validarUsuario(username)" required><br>
        <label>Nombre:</label>
        <input class="form-control" placeholder="Ingrese nombre" ng-model="nombreUsuario" required><br>
        <label>Password:</label><i class="fa fa-eye" ng-click="cambiarTipo()" data-toggle="tooltip" data-placement="top" title="Mostrar Contraseña" style="margin-left:2%;"></i>
        <input class="form-control" placeholder="Ingrese password" type="{{tipo}}" ng-model="password" required><br>

        <div class="col-md-12" style="margin-bottom: 2%;">
          <span class="col-md-9">
            <label>Correo:</label><br>
            <input class="form-control col-md-7" placeholder="Ingrese correo" ng-model="correo" required>
            <button class="btn btn-success col-md-1 col-xs-6" ng-click="agregarCorreo(correo, listaCorreos)"><i class="fa fa-plus"></i></button>
            <button class="btn btn-danger col-md-1 col-xs-6" ng-click="eliminarCorreo(correoEliminar, listaCorreos)"><i class="fa fa-remove"></i></button>
          </span>
          <span ng-show="habilitaTrader" class="col-md-3 col-xs-12">
            <label>Trader:</label>
            <input class="form-control" type="checkbox" ng-model="trader"><br>
          </span>
        </div>

        <div class="col-md-12" ng-show="habilitaTipoMuestreo" style="margin-bottom: 3%;">
          <center>
            <button class="btn btn-{{colorAnimal}}" ng-click="seleccionarAnimal()">Animal</button>
            <button class="btn btn-{{colorAlimento}}" ng-click="seleccionarAlimento()">Alimento</button>
            <button class="btn btn-{{colorAgua}}" ng-click="seleccionarAgua()">Agua</button>
          </center>
        </div>

        <div class="col-md-12" style="margin-bottom: 2%;">
            <select class="form-control" style="height: 100px;" ng-model="correoEliminar" ng-options="opt as opt for opt in listaCorreos">
              <option disabled selected value="" style="display: none;">Seleccione Correo</option>
            </select>
        </div>

        <div ng-show="habilitaTrader" class="col-md-12">
          <hr>
          <center><h3>Datos de Facturacion</h3></center>
          <label>Rut:</label>
          <input class="form-control" placeholder="Ingrese Rut" ng-model="rut" required><br>
          <label>Giro:</label>
          <input class="form-control" placeholder="Ingrese Giro" ng-model="giro" required><br>
          <label>Direccion:</label>
          <input class="form-control" placeholder="Ingrese Direccion" ng-model="direccion" required><br>
        </div>

        <center><h5><strong>Perfil</strong></h5></center>
        <center><button class="btn btn-info btn-block" ><i class="fa fa-user"></i></button></center>
        <br>
        <center><select style="height: 200px;width: 300px" ng-model="perfilesUsuarios" ng-change="seleccionPerfil(perfilesUsuarios)" ng-click="listarPerfilesLlaves(perfilesUsuarios)" multiple ng-options="opt as opt.nombre_perfil for opt in perfiles" ></center>
        </select>
        <br><br>
        <span class="col-md-2"></span>
        <button class="btn btn-success col-md-3" style="margin-left: 4%;" type="button" ng-disabled="!(!!perfilesUsuarios && !!username && !!nombreUsuario && !!password && !!validacion)" ng-click="crearUsuario(username, nombreUsuario, password, listaCorreos, perfilesUsuarios, trader, habilitaTrader, rut, giro, direccion)" ui-turn-off="crearUsuarioModal">Crear</button>
        <span class="col-md-1"></span>
        <button class="btn btn-danger col-md-3" type="button" ui-turn-off="crearUsuarioModal">Cancelar</button>

      </div>

      <div class="modal-footer">
      </div>



    </div>
  </div>
</div>
