<div ui-content-for="title">
  <span>Solicitudes</span>
</div>

<div class="scrollable">
  <div class="scrollable-content section text-center">

    <div class="col-md-6">
      <input class="form-control" placeholder="Búsqueda.." ng-model="busqueda"/><br>
    </div>

    <div class="col-md-3" style="margin-bottom: 2%;">
      <select class="form-control" ng-model="filtroEstado" ng-init="filtroEstado = 'Todas'" ng-change="filtroEstados(filtroEstado)">
        <option value="Todas">Seleccione Estado..</option>
        <option value="En proceso">En Proceso</option>
        <option value="Atrasada">Atrasada</option>
      </select>
    </div>

<div class="envoltorio col-md-12">
  <div class="table-condensed" style="margin-top: 1%;">
    <table class="table table-bordered">
      <thead style="background: #ffcc33; width: 80%;">
        <th>N°</th>
        <th>Solicitante</th>
        <th>Tipo Solicitud</th>
        <th>Estado</th>
        <th>Fecha Creación</th>
        <th>Fecha de Solicitud de Muestreo</th>
        <th>Proceso</th>
        <th>Acción</th>
      </thead>
      <tbody>
        <tr ng-repeat="sol in solicitudes | filter: busqueda | filter: filtroProceso | orderBy : 'solicitud.id_solicitud'">
          <td>{{sol.solicitud.id_solicitud}}</td>
          <td>{{sol.solicitud.cliente.nombre}}</td>
          <td>{{sol.solicitud.tipoMuestreo.descripcion}}</td>
          <td>{{sol.estado}}</td>
          <td>{{sol.solicitud.fecha_creacion| date:'dd/MM/yyyy - hh:mm'}}</td>
          <td>{{sol.solicitud.fecha_muestreo| date:'dd/MM/yyyy'}}</td>
          <td>
            <span>
              <button class="btn" style="background: #{{sol.solicitud.proceso[0].color}}" uib-popover="{{sol.solicitud.proceso[0].descripcion}}" popover-trigger="mouseenter"><i class="fa fa-{{sol.solicitud.proceso[0].icono}}" style="color: #fff;"></i></button>
            </span>
          </td>
          <td>
            <span class="btn-group">
              <button class="btn btn-info" ui-turn-on="modalVista" ng-click="enviarVistaModal(sol.solicitud)"  uib-popover="Ver" popover-trigger="mouseenter"><i class="fa fa-eye"></i></button>
              <button class="btn btn-info" ui-turn-on="modalMensaje" ng-click="enviarMensajeModal(sol.solicitud)" uib-popover="Mensajes" popover-trigger="mouseenter"><i class="fa fa-envelope"></i></button>
              <span class="btn-group" ng-if="sol.solicitud.proceso[0].id_proceso < 3">
                <button class="btn btn-warning" ui-turn-on="modalInspector" ng-click="inspectorModal(sol.solicitud)" uib-popover="Inspector" popover-trigger="mouseenter"><i class="fa fa-male"></i></button>
              </span>
              <span class="btn-group" ng-if="sol.solicitud.proceso[0].id_proceso < 2 ">
                <button class="btn btn-danger" ui-turn-on="modalEliminar" ng-click="eliminarModal(sol.solicitud)" uib-popover="Rechazar" popover-trigger="mouseenter"><i class="fa fa-remove"></i></button>
              </span>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div ui-content-for="modals">
  <div ng-include="'administracion/busquedaSolicitud/modalMensaje.html'"></div>
  <div ng-include="'administracion/busquedaSolicitud/modalVista.html'"></div>
  <div ng-include="'administracion/busquedaSolicitud/modalEliminar.html'"></div>
  <div ng-include="'administracion/busquedaSolicitud/modalInspector.html'"></div>
  <div ng-include="'administracion/busquedaSolicitud/modalObservacion.html'"></div>
  <div ng-include="'modalAvisos/mensajeAvisos.html'"></div>
</div>
</div>
</div>
