<div ui-content-for="title">
  <span>Nueva Solicitud Para Cliente</span>
</div>

<div class="scrollable">
  <div class="scrollable-content section text-center">

    <div class="col-md-12">
      <div class="col-md-6" style="margin-top: 2%;">

        <div class="col-md-12" style="margin-bottom: 2%;">
          <div class="col-md-4">
            <label>Fecha Creación</label>
          </div>
          <div>
            <div class="col-md-8">
              <p class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup ng-model="fecha_creacion" ng-disabled="true" ng-required="true"/>
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-disabled="true"><i class="fa fa-calendar"></i></button>
                </span>
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-12" style="margin-bottom: 2%;">
          <div class="col-md-4">
            <label>Fecha de Solicitud de Muestreo</label>
          </div>
          <div>
            <div class="col-md-8">
              <p class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup ng-model="fecha_muestreo" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Cerrar" />
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="open2()"><i class="fa fa-calendar"></i></button>
                </span>
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-12" style="margin-bottom: 2%;">
          <div class="col-md-4">
            <label>Cliente</label>
          </div>
          <div>
            <div class="col-md-8">
              <select class="col-md-12 form-control" ng-disabled="habilitarSelector" ng-change="cambioCliente(clienteSeleccion)" ng-model="clienteSeleccion" ng-options="opt as opt.nombre for opt in listarUsuarios">
                <option value="" selected disabled style="display: none;">Seleccione Solicitante</option>
              </select>
            </div>
          </div>
        </div>

        <div class="col-md-12" style="margin-bottom: 2%;" ng-show="mostrarCasino">
          <div class="col-md-4">
            <label>Casino</label>
          </div>
          <span class="col-md-2"></span>
          <span class="col-md-2">
            <input type="checkbox" class="form-control" ng-model="casino">
          </span>
          <span class="col-md-4"></span>
        </div>

        <div class="col-md-12" style="margin-bottom: 2%;">
          <div class="col-md-4">
            <label>Tipo Muestreo</label>
          </div>
          <div>
            <div class="col-md-8">
              <select class="col-md-12 form-control" ng-disabled="habilitarSelector" ng-model="tipoSeleccion" ng-options="opt as opt.descripcion for opt in listaMuestreo" ng-change="habilitarBotonMuestreo(tipoSeleccion)">
                <option value="" selected disabled style="display: none;">Seleccione Muestreo</option>
              </select>
            </div>
          </div>
        </div>

        <div class="col-md-12">
          <div ng-show="habilitaHarina" class="col-md-4" style="margin-bottom: 8%;">
            <button class="btn btn-primary col-xs-12 col-md-12" ui-turn-on="modalHarina" ng-click="cargarModalHarina()">Harina</button>
          </div>
          <div ng-show="habilitaAlimento" class="col-md-4" style="margin-bottom: 8%;">
            <button class="btn btn-primary col-xs-12 col-md-12" ui-turn-on="modalAlimento" ng-click="cargarModalAlimento(tipoSeleccion)">Alimento</button>
          </div>
          <div ng-show="habilitaMuestreo" class="col-md-4" style="margin-bottom: 8%;">
            <button class="btn btn-primary col-xs-12 col-md-12" ui-turn-on="modalMuestreo" ng-click="cargarModalMuestreo(tipoSeleccion)">Muestreos</button>
          </div>

          <div ng-show="habilitaEnvio" class="col-md-4" >
            <button class="btn btn-primary col-xs-12 col-md-12" ng-click="agregarSolicitud(fecha_muestreo, listaLotes, clienteSeleccion, tipoSeleccion)">Enviar Solicitud</button>
          </div>
        </div>

      </div>
    </div>

    <center><h3><b>Detalle Solicitud</b><h3></center>

      <div class="table-condensed col-xs-12 col-md-12">
        <table class="table table-bordered" >
          <thead style="background: #ffcc33;">
            <th>Id</th>
            <th>Materia Prima</th>
            <th>Proveedor</th>
            <th>País</th>
            <th>Lote</th>
            <th>N° Sacos</th>
            <th>Cantidad</th>
            <th>Contenedor</th>
            <th>Bodega</th>
            <th></th>
          </thead>
          <tbody>
            <tr ng-repeat="item in listaLotes">
              <td>{{item.id_lote}}</td>
              <td>{{item.materiaPrima.nombreMateriaPrima}}</td>
              <td>{{item.trader.nombreTrader}}</td>
              <td>{{item.paisTrader.nombrePais}}</td>
              <td>{{item.lote}}</td>
              <td>{{item.bultos}}</td>
              <td>{{item.cantidad}}</td>
              <td>{{item.contenedor}}</td>
              <td>{{item.bodega.nombreBodega}}</td>
              <td><i class="fa fa-remove" ng-click="removerLote(item.id_lote, listaLotes)"></i></td>
            </tr>
          </tbody>
        </table>
      </div>


      <div ui-content-for="modals">
        <div ng-include="'inspector/crearSolicitud/modalHarinas.html'"></div>
        <div ng-include="'inspector/crearSolicitud/modalAlimento.html'"></div>
        <div ng-include="'inspector/crearSolicitud/modalMuestreo.html'"></div>
        <div ng-include="'modalAvisos/mensajeAvisos.html'"></div>
      </div>
    </div>
  </div>
